body {

  background: linear-gradient(#e66465, #9198e5);


}

div {

  /* display:flex; */
  /* justify-content: center; */
  /* align-content: center; */
  height: 100vh;
  transition: color 1000ms;
}




.boxes {
  transition: color 1000ms;
  transition: background-color 1000ms;
  background-color: teal;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border-width: thin ;
}




