{% extends "home.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="admin_page">
    <h1>Admin Page</h1>
    <div>
        <h2>All Users</h2>

        <form action="/admin" method="POST">
        {% for user in all_users %}
        <label>
            Email: {{user["email"]}} 
            <input type="checkbox" id="{{user[id]}}" class="boxes" name="{{user['id']}}" 
            value="1" {% if user['admin'] ==1%} checked {%endif%}
            />
        </label>
        {%endfor%}
            <button>Submit</button>          
        </form>

        <a href="{{ url_for('user_profile.user_profile') }}">Back</a>
    </div>   
</div>
{% endblock %} 