{% extends "home.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="admin_page">
    <h1>Edit Email</h1>
    <div>
        <h2>Current Email</h2>
        <span>"{{user_info['email']}}"</span>
        <!-- <a href="{{url_for('edit_email.edit_email')}}">Edit</a> -->

        <h2 href="">Enter New Email</h2>
        <form action="/edit_email" method="POST">
        {% for user in user_list %}
        <label>
            Email:
            <input type="checkbox" id="newEmail" class="boxes" name="admin" required/>
        </label>
        {%endfor%}
            <button>Submit</button>          
        </form>

        <a href="{{ url_for('user_profile.user_profile') }}">Back</a>
    </div>   
</div>
{% endblock %} 