{% extends "home.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="admin_page">
    <h1>Edit Password</h1>
    <div>
        <form action="/edit_password" method="POST">
            <h3>Confirm With Password</h3>
            <label>
                Enter Current Password:
                <input type="password" id="currentPassword" class="boxes" name="currentPassword" required/>
            </label>

            <h3>Confirm With Password</h3>
            <label>
                Enter New Password:
                <input type="password" id="newPassword" class="boxes" name="newPassword" required/>
            </label>  
            <button>Submit</button>          
        </form>
        <a href="{{ url_for('user_profile.user_profile') }}">Cancel</a>
    </div>   
</div>
{% endblock %} 