<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>

        {%if session.name %}
            <a href="{{ url_for('login.logout') }}">Logout</a>
            <a href="{{ url_for('home.home') }}">Home</a>
            <a href="{{ url_for('user_profile.user_profile')}}">Profile</a>
            {%if session.admin%}
            <a href="{{ url_for('admin.admin') }}">Admin</a>
            {% endif %}
        {% else %}
            <a href="{{ url_for('login.login') }}">Log In</a>
            <a href="{{ url_for('signup.signup') }}">Sign Up</a>
        {%endif%}
    </nav>
    <div>
        

        {% block content %}
        <h1>Home Page</h1>

        {% endblock %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% set _ = session.pop('_flashes', None) %}
        {% endif %}
        {% endwith %}

    </div>
</body>
</html>
