<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>

        {%if logged_in %}
        <a href="/login">Logout</a>
        {% else %}
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
        {%endif%}
    </nav>
    <div>
        {% block content %}
        <h1>Home Page</h1>
        {% endblock %}
    </div>

    <!-- <script src="app.js"></script> -->
</body>
</html>
