{% extends "home.html" %}
{% block title %}Log in {% endblock %}


{% block content %}
<h1>Log In</h1>

<div>
Please enter email and password
  <form method="POST" id="userForm" action="/login">
    <label
      >Email:
      <input type="email" id="userEmail" class="boxes" name="userEmail" required/>
    </label>
    <br />
    <label>
      Password:
      <input type="password" id="userPassword" class="boxes" name="userPassword" minlength="8" required/>
    </label>
    <br />
   
    <button>Submit</button>
  </form>
</div>
{% endblock %}d
